{% extends "base.html" %}
{% block title %}LOGIN{% endblock %}
{% block content %}
<h1>LOGIN</h1>
    <p>Warning: this website is for portfolio purposes only. The login/register system does not validate real email adresses.</p>
    <form action="#" method="post">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="password">
        <button type="submit">Submit</button>
    </form>
    <a href="{{url_for('register')}}">Don't have an account? Register</a>
{% endblock %}